* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-display: 'Titillium Web', sans-serif;
    --bg-caption: #008331;
    --bg-head: rgb(196, 196, 196);
}
body {
    font-family: var(--font-display);
}
#brascadex {
    overflow-x: auto;
    border-collapse: collapse;
}
#brascadex caption {
    padding: 10px;
    position: -webkit-sticky;
            position: sticky;
    top: 0;        
    color: white;
    background-color: var(--bg-caption);
    font: 2rem var(--font-display);

}
#brascadex thead {
    background-color: var(--bg-head);
    position: -webkit-sticky;
            position: sticky;
    top: 70px;    
}
#brascadex th {
    text-align: center;
}
#brascadex th,
#brascadex td {
    width: max-content;
    line-height: 1.5em;
    border: 1px solid black;
}
.cell-number,
.cell-name,
.cell-type,
.cell-hability {
    text-align: center;
    padding: 10px;
}
#brascadex td:last-child {
    padding: 10px;
}
.cell-image > .brascamon {
    display: block;
    width: 100px;
    height: auto;
}
